.btn-ArdaGreen{
    background-color: rgb(0, 173, 0);
    cursor: pointer;
    color: white;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out
    box-shadow .15s ease-in-out;
}

.btn-ArdaGreen:hover{
    color: #fff;
    background-color: rgb(0, 135, 0);
    border-color: rgb(0, 135, 0);
}