.btn-ArdaGreen{
    background-color: rgb(0, 173, 0);
    cursor: pointer;
    color: white;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out
    box-shadow .15s ease-in-out;
}

.btn-ArdaGreen:hover{
    color: #fff;
    background-color: rgb(0, 135, 0);
    border-color: rgb(0, 135, 0);
}

.title-Arda{
    font-family: 'Times New Roman', Times, serif;
}

.title-Arda:first-letter{
    text-transform: uppercase;
    font-style: italic;
    color: rgb(0, 175, 0);
    font-size: 130%;
}

.PrincipalTitle:first-letter{
    color: rgb(0, 175, 0);
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

.PrincipalTitle{
    color: white;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-transform: lowercase;


}


.sabbar{
width: auto;

}


/*
.cursor{
    width: 500px;
    height: 500px;
    border: 1px solid #ffffff;
    background: rgb(0, 255, 64);
    border-radius: 50%;
    position: fixed;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    /*clip-path: polygon(33% 47%, 3% 24%, 40% 35%, 49% 4%, 55% 36%, 99% 21%, 58% 49%, 98% 83%, 55% 65%, 49% 98%, 35% 64%, 0% 85%);*/
    
    /*
    z-index: -5;
}
*/

*{
    margin: 0;
    padding: 0;
   
   
}
h1, h2{
    color:white;
}
body{
    background: #212529;
    min-height: 100vh;
}



.conta{
    position: fixed;
    overflow: hidden;
    height: 700vh;
    animation: animate 1s linear infinite;
    z-index: -1;
}



@keyframes animate{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(10deg);
    }
}
.rowk{
    display: inline-flex;
    margin-left: -50px;
    margin-top: -32px;
    overflow: hidden;
}
.rowk:nth-child(even){
    margin-left: 1px;
}
.hexagon{
    position: relative;
    height: 110px;
    width: 100px;
    background: rgb(14, 13, 13);
    margin: 1px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: .5s;
}
.hexagon:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    pointer-events: none;
    background: rgba(24, 23, 23, 0.2);
}
.hexagon:hover{
    transition: 0s;
    background: #0f0;
}

/*
logins
*/

.Sablogins{
    margin-top: 15vh;
    padding: 5vh;
    background-image: url("Imgs/hojalogin.jpg");
    background-size: cover;
    width: 80%;
    height: 55vh;
    border: #fff solid;
    border-radius: 10vh;
    text-align: center;
}
.SabtitleLogins{
    color:rgb(255, 255, 255);
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Sabterrarios{
    margin-top: 5vh;
    padding: 5vh;
    background-image: url("Imgs/hojalogin.jpg");
    background-size: cover;
    width: 80%;
    height: 75vh;
    border: #fff solid;
    border-radius: 10vh;
    text-align: center;
}
.Sabtitleterrario{
    color:rgb(255, 255, 255);
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Form.Control, .FloatingLabel{
    color: black;
    font-size: 2vh;
}


/*
cosas del carrusel
*/


.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 100%;
    background: #fff;
    
    min-width: 30vh;
    min-height: 50vh;


    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .SABswiper{       
   /* margin: 0 auto; pa centrar */
    width: 100%;
    padding: 0% !important;
    height: 50vh;
    margin: 0%;

  }
  

  /* formato para cada slider*/




.SL1, .SL2, .SL3, .SL4, .SL5, .SL6, .SL7, .SL8, .SL9{
    
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-size: 80vh 60vh;    
    background-repeat: no-repeat;
    background-position: right;
    font-weight: bold;
    /*-webkit-text-stroke: .2vh black;*/
    text-align: left;
    padding-left: 15%;
    padding-right: 45%;
    
    /*background-color: rgba(3, 124, 3, 0.5);*/
    -webkit-text-stroke: .14vh  rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);


} 



.SL1{
    background-image: url("Imgs/Kate1.jpg");
    
    
}
.SL2{
    background-image: url("Imgs/Kate2.jpg");
} 

.SL3{
    background-image: url("Imgs/Kate3.jpg"); /*dos dos*/
} 

.SL4{
    background-image: url("Imgs/Kate4.jpg");
} 

.SL5{
    background-image: url("Imgs/Sl6.jpg");
} 

.SL6{
    background-image: url("Imgs/Kate7.jpg");
} 

.SL7{
    background-image: url("Imgs/Kate8.jpg");
} 


/* ================================================================= carts inicio */

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.container-card{
	width: 100%;
	display: flex;
	max-width: 2000px;
	margin: auto;
    color: rgb(255, 255, 255);
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
    color: rgb(255, 255, 255);
}
.card{
	width: 70vh;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:rgba(35, 100, 48, 0.7);
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
    color: rgb(255, 255, 255);
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.4);
	transform: translateY(-3%);
}

.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #ffffff;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #ffffff;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}

@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
    }
}

.obj2{
    background-image: url("Imgs/obj2.jpg");
    width: 100%;
	height: 30vh;
    object-fit: cover;
    background-size: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
        
}

.Comomolestan{
    margin-top: 20%;
}

.mision{
    background-image: url("Imgs/mision.webp");
    width: 100%;
	height: 30vh;
    object-fit: cover;
    align-items: center;
    background-size: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255,212,129,1);
}
.origen{
    background-image: url("Imgs/origen.png");
    background-repeat: no-repeat;
    background-color: rgba(249,214,215);
    width: 100%;
	height: 30vh;
    object-fit: contain;
    align-items: auto;
    background-position: center;
    background-size: 50vh;
    

}

/*cards de las graficas*/

.cardGHeader{
    background: #2fb4cc;
}
    
.cardGBody{
    background: #ffffff;
   
}
.cardblanca{
    display: flex;
    width: 80%;

}

.centercard{
    align-items: center;
    margin: 0 auto;
    text-align: center;
    margin-left: 10%;
}

.ancho{
    margin: 0 auto;
    text-align: center;
    margin-left: 10%;
    align-items: center;
    width: 100%;

}

/* lineas animadas bien bonis*/

.lineaanimada{
    width: 60vh;
    height: 20vh;
    background-color: green;
    padding-top: 5vh;
    position: fixed;
    animation-name: example;
    animation-duration: 8s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    z-index: -5;

}
@keyframes example {
    0% {transform:translate( -20vh, 20vh) }
    33% {transform:translate( 120vh, 20vh) }
    66% {transform:translate( -20vh, 20vh) }
    100% {transform:translate( 160vh, 20vh) }
  }

  .lineaanimada2{
    width: 60vh;
    height: 20vh;
    background-color: green;
    padding-top: 5vh;
    position: fixed;
    animation-name: example2;
    animation-duration: 8s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    z-index: -5;

}
@keyframes example2 {
    0% {transform:translate( -20vh, 60vh) }
    33% {transform:translate( 120vh, 60vh) }
    66% {transform:translate( -20vh, 60vh) }
    100% {transform:translate( 160vh, 60vh) }
  }

.white-text {
    color: white;
    text-align: justify;
    margin-left: 100px ;
    margin-top: 20px;
    margin-right: 150px;
}


.logo{
    margin-top: 20px;
    padding: 20px;
    background-image: url("Imgs/logo.jpg");
    background-size: cover;
    width: 550px;
    height: 350px;
    scale: 50%;
    border: #fff solid;
    text-align: center;
}

.terra{
    position: absolute;
    top: 260px; left: 900px;
    background-image: url("Imgs/terra.jpeg");
    background-size: cover;
    width: 375px;
    height: 500px;
    scale: 100%;
    border: #fff solid;
    text-align: right;
}

.AC{

    font-style: italic !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}